<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
	<h1>🚀 Welcome to Interactive App - Version 2!</h1>

</head>
<body>
    <h1>Users</h1>
    <a href="/add-user">Add New User</a>
    <table border="1">
        <tr>
            <th>ID</th><th>Name</th><th>Email</th><th>Action</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/delete-user/{id}(id=${user.id})}">Delete</a>
            </td>
        </tr>
    </table>
</body>
</html>
